In [355]:
# importar librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import regex as re
from sklearn.preprocessing import MinMaxScaler

In [356]:
# Leer archivo
df = pd.read_csv('housing.csv', index_col='id')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101365 entries, 8459 to 2576472
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          101365 non-null  object
 1   price          101365 non-null  int64
 2   surface        101365 non-null  int64
 3   bedrooms       101365 non-null  int64
 4   restrooms      101365 non-null  int64
 5   features       101362 non-null  object
 6   description    98617 non-null   object
 7   rent           101365 non-null  int64
 8   location_name  101365 non-null  object
 9   is_province    101365 non-null  int64
dtypes: int64(6), object(4)
memory usage: 8.5+ MB

In [357]:
# Ver si hay Nans
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101365 entries, 8459 to 2576472
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          101365 non-null  object
 1   price          101365 non-null  int64
 2   surface        101365 non-null  int64
 3   bedrooms       101365 non-null  int64
 4   restrooms      101365 non-null  int64
 5   features       101362 non-null  object
 6   description    98617 non-null   object
 7   rent           101365 non-null  int64
 8   location_name  101365 non-null  object
 9   is_province    101365 non-null  int64
dtypes: int64(6), object(4)
memory usage: 8.5+ MB

In [358]:
# Eliminar filas donde 'bedrooms' es -1 o mayor que 5
df = df[(df['bedrooms'] != -1) & (df['bedrooms'] <= 5)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97519 entries, 8459 to 2576472
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          97519 non-null  object
 1   price          97519 non-null  int64
 2   surface        97519 non-null  int64
 3   bedrooms       97519 non-null  int64
 4   restrooms      97519 non-null  int64
 5   features       97519 non-null  object
 6   description    94856 non-null  object
 7   rent           97519 non-null  int64
 8   location_name  97519 non-null  object
 9   is_province    97519 non-null  int64
dtypes: int64(6), object(4)
memory usage: 8.2+ MB

In [359]:
df.head(2)

,title,price,surface,bedrooms,restrooms,features,description,rent,location_name,is_province
id,,,,,,,,,,
8459,"Piso de alquiler en Rúa Eugenio Carre Aldao, O...",630,85,3,2,"3 habs.,2 baños,85 m²,2ª Planta",CURSO ESCOLAR. INTERNET INCLUIDO. Vivienda con...,1,A Coruña,1
8460,"Piso de alquiler en Rúa Rodrigo a de Santiago,...",450,70,3,1,"3 habs.,1 baño,70 m²,4ª Planta",Vivienda muy soleada de 3 habitaciones semiamu...,1,A Coruña,1

In [360]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97519 entries, 8459 to 2576472
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          97519 non-null  object
 1   price          97519 non-null  int64
 2   surface        97519 non-null  int64
 3   bedrooms       97519 non-null  int64
 4   restrooms      97519 non-null  int64
 5   features       97519 non-null  object
 6   description    94856 non-null  object
 7   rent           97519 non-null  int64
 8   location_name  97519 non-null  object
 9   is_province    97519 non-null  int64
dtypes: int64(6), object(4)
memory usage: 8.2+ MB

In [361]:
# Quitar OUTLIERS
df["price"].value_counts().sort_index()

price
-1          1509
 25            3
 30            2
 35            1
 40            2
            ...
 699000        1
 900000        1
 1049000       1
 1300000       1
 2222222       1
Name: count, Length: 1303, dtype: int64

In [362]:
df = df[(df["price"] > 200) & (df["price"] < 2000)]

In [363]:
df = df[(df["surface"] > 30) & (df["surface"] < 300)]

In [364]:
df = df[(df["bedrooms"] > 0) & (df["bedrooms"] < 5)]

In [365]:
df = df[(df["restrooms"] > 0) & (df["restrooms"] < 5)]

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84671 entries, 8459 to 2576472
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          84671 non-null  object
 1   price          84671 non-null  int64
 2   surface        84671 non-null  int64
 3   bedrooms       84671 non-null  int64
 4   restrooms      84671 non-null  int64
 5   features       84671 non-null  object
 6   description    82279 non-null  object
 7   rent           84671 non-null  int64
 8   location_name  84671 non-null  object
 9   is_province    84671 non-null  int64
dtypes: int64(6), object(4)
memory usage: 7.1+ MB

In [366]:
# ver columna "location_name"
df["location_name"].unique()

array(['A Coruña', 'Alacant', 'Albacete', 'Almería', 'Araba', 'Asturias',
       'Ávila', 'Badajoz', 'Barcelona', 'Bizkaia', 'Burgos', 'Cáceres',
       'Cádiz', 'Cantabria', 'Castelló', 'Ciudad Real', 'Córdoba',
       'Cuenca', 'Gipuzkoa', 'Girona', 'Granada', 'Guadalajara', 'Huelva',
       'Huesca', 'Illes Balears', 'Jaén', 'La Rioja', 'Las Palmas',
       'León', 'Lleida', 'Lugo', 'Madrid', 'Málaga', 'Murcia', 'Navarra',
       'Ourense', 'Palencia', 'Pontevedra', 'Salamanca',
       'Santa Cruz de Tenerife', 'Segovia', 'Sevilla', 'Soria',
       'Tarragona', 'Teruel', 'Toledo', 'Valencia', 'Valladolid',
       'Zamora', 'Zaragoza'], dtype=object)

In [367]:
# # Aplicar get_dummies a columna "location_name" para crear columnas binarias
# df_dummies = pd.get_dummies(df['location_name']).astype(int)

# # Eliminar una de las columnas binarias (por ejemplo, la primera)
# columna_a_eliminar = df_dummies.columns[0]
# df_dummies = df_dummies.drop(columns=[columna_a_eliminar])

# # Concatenar las columnas binarias al DataFrame original
# df = pd.concat([df, df_dummies], axis=1)

In [368]:
df.head(2)

,title,price,surface,bedrooms,restrooms,features,description,rent,location_name,is_province
id,,,,,,,,,,
8459,"Piso de alquiler en Rúa Eugenio Carre Aldao, O...",630,85,3,2,"3 habs.,2 baños,85 m²,2ª Planta",CURSO ESCOLAR. INTERNET INCLUIDO. Vivienda con...,1,A Coruña,1
8460,"Piso de alquiler en Rúa Rodrigo a de Santiago,...",450,70,3,1,"3 habs.,1 baño,70 m²,4ª Planta",Vivienda muy soleada de 3 habitaciones semiamu...,1,A Coruña,1

In [369]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84671 entries, 8459 to 2576472
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          84671 non-null  object
 1   price          84671 non-null  int64
 2   surface        84671 non-null  int64
 3   bedrooms       84671 non-null  int64
 4   restrooms      84671 non-null  int64
 5   features       84671 non-null  object
 6   description    82279 non-null  object
 7   rent           84671 non-null  int64
 8   location_name  84671 non-null  object
 9   is_province    84671 non-null  int64
dtypes: int64(6), object(4)
memory usage: 7.1+ MB

In [370]:
# ver columna "features"
df["features"].value_counts()

features
1 hab.,1 baño,50 m²,1ª Planta,Ascensor              256
2 habs.,1 baño,70 m²,2ª Planta,Ascensor             240
2 habs.,1 baño,70 m²,1ª Planta,Ascensor             235
3 habs.,2 baños,90 m²,1ª Planta,Ascensor            213
3 habs.,2 baños,90 m²,2ª Planta,Ascensor            212
                                                   ...
3 habs.,4 baños,290 m²,Terraza,Piscina                1
1 hab.,1 baño,71 m²                                   1
3 habs.,2 baños,90 m²,Parking,Aire acondicionado      1
3 habs.,1 baño,56 m²,Parking,Calefacción              1
4 habs.,4 baños,211 m²,Terraza,Balcón                 1
Name: count, Length: 18989, dtype: int64

In [371]:
# Crear una nueva columna 'Tiene_Calefaccion' con valores 1 y 0
df['Calefaccion'] = df['features'].str.contains(r'Calefacción', case=False).astype(int)

In [372]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84671 entries, 8459 to 2576472
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          84671 non-null  object
 1   price          84671 non-null  int64
 2   surface        84671 non-null  int64
 3   bedrooms       84671 non-null  int64
 4   restrooms      84671 non-null  int64
 5   features       84671 non-null  object
 6   description    82279 non-null  object
 7   rent           84671 non-null  int64
 8   location_name  84671 non-null  object
 9   is_province    84671 non-null  int64
 10  Calefaccion    84671 non-null  int32
dtypes: int32(1), int64(6), object(4)
memory usage: 7.4+ MB

In [373]:
# Crear una nueva columna 'Tiene_Terraza' con valores 1 y 0
df['Terraza'] = df['features'].str.contains(r'Terraza', case=False).astype(int)

In [374]:
# Crear una nueva columna 'Tiene_Ascensor' con valores 1 y 0
df['Ascensor'] = df['features'].str.contains(r'Ascensor', case=False).astype(int)

In [375]:
# Crear una nueva columna 'Tiene_Balcón' con valores 1 y 0
df['Balcón'] = df['features'].str.contains(r'Balcón', case=False).astype(int)

In [376]:
# Crear una nueva columna 'Tiene_Parking' con valores 1 y 0
df['Parking'] = df['features'].str.contains(r'Parking', case=False).astype(int)

In [377]:
df.head(2)

,title,price,surface,bedrooms,restrooms,features,description,rent,location_name,is_province,Calefaccion,Terraza,Ascensor,Balcón,Parking
id,,,,,,,,,,,,,,,
8459,"Piso de alquiler en Rúa Eugenio Carre Aldao, O...",630,85,3,2,"3 habs.,2 baños,85 m²,2ª Planta",CURSO ESCOLAR. INTERNET INCLUIDO. Vivienda con...,1,A Coruña,1,0,0,0,0,0
8460,"Piso de alquiler en Rúa Rodrigo a de Santiago,...",450,70,3,1,"3 habs.,1 baño,70 m²,4ª Planta",Vivienda muy soleada de 3 habitaciones semiamu...,1,A Coruña,1,0,0,0,0,0

In [378]:
# eliminamos determinadas columnas
df = df.drop(["features", "description", "title", "rent", "is_province"], axis=1)
df.head(3)

,price,surface,bedrooms,restrooms,location_name,Calefaccion,Terraza,Ascensor,Balcón,Parking
id,,,,,,,,,,
8459,630,85,3,2,A Coruña,0,0,0,0,0
8460,450,70,3,1,A Coruña,0,0,0,0,0
8461,600,90,3,2,A Coruña,1,0,1,0,0

In [379]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84671 entries, 8459 to 2576472
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          84671 non-null  int64
 1   surface        84671 non-null  int64
 2   bedrooms       84671 non-null  int64
 3   restrooms      84671 non-null  int64
 4   location_name  84671 non-null  object
 5   Calefaccion    84671 non-null  int32
 6   Terraza        84671 non-null  int32
 7   Ascensor       84671 non-null  int32
 8   Balcón         84671 non-null  int32
 9   Parking        84671 non-null  int32
dtypes: int32(5), int64(4), object(1)
memory usage: 5.5+ MB

In [380]:
# # Calcular la matriz de correlación
# correlation_matrix = df.corr()

# # Visualizar la matriz de correlación como un mapa de calor
# plt.figure(figsize=(8, 6))
# sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=0.5)
# plt.title('Matriz de Correlación')
# plt.show()

In [381]:
# # Cambiamos el nombre a las columnas
# cambios = {"Area": "País", "Item": "Producto", "Element": "Destino", "Unit": "Unidad"}
# comida = comida.rename(columns=cambios)

In [382]:
# # Guardamos cambios en un nuevo archivo
# poblacion.to_csv("data\\Poblacion Mundial-Limpio.csv")
# poblacion.head(3)

MACHINE LEARNING

1-RANDOM FOREST

In [383]:
df.head(2)

,price,surface,bedrooms,restrooms,location_name,Calefaccion,Terraza,Ascensor,Balcón,Parking
id,,,,,,,,,,
8459,630,85,3,2,A Coruña,0,0,0,0,0
8460,450,70,3,1,A Coruña,0,0,0,0,0

In [384]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [385]:
df['location_name'].unique()

array(['A Coruña', 'Alacant', 'Albacete', 'Almería', 'Araba', 'Asturias',
       'Ávila', 'Badajoz', 'Barcelona', 'Bizkaia', 'Burgos', 'Cáceres',
       'Cádiz', 'Cantabria', 'Castelló', 'Ciudad Real', 'Córdoba',
       'Cuenca', 'Gipuzkoa', 'Girona', 'Granada', 'Guadalajara', 'Huelva',
       'Huesca', 'Illes Balears', 'Jaén', 'La Rioja', 'Las Palmas',
       'León', 'Lleida', 'Lugo', 'Madrid', 'Málaga', 'Murcia', 'Navarra',
       'Ourense', 'Palencia', 'Pontevedra', 'Salamanca',
       'Santa Cruz de Tenerife', 'Segovia', 'Sevilla', 'Soria',
       'Tarragona', 'Teruel', 'Toledo', 'Valencia', 'Valladolid',
       'Zamora', 'Zaragoza'], dtype=object)

In [386]:
# provincias = df['location_name'].unique()
# for p in provincias:
#     df[]

In [342]:
df = df[df['location_name'] == 'Barcelona']

In [387]:
df.drop('location_name', axis=1, inplace=True)

In [388]:
df.head(2)

,price,surface,bedrooms,restrooms,Calefaccion,Terraza,Ascensor,Balcón,Parking
id,,,,,,,,,
8459,630,85,3,2,0,0,0,0,0
8460,450,70,3,1,0,0,0,0,0

In [389]:
# Definir las características (X) y la columna objetivo (y)
X = df.drop(columns=['price']) # Todas las columnas excepto 'Price_euros'
Y = df['price']
# IMPORTANTE DIVIDIR ENTRE TRAIN Y TEST LUEGO ESCALAR

In [390]:
# Crear un objeto MinMaxScaler
scaler = MinMaxScaler()

In [391]:
# Separar los datos en conjuntos de entrenamiento y prueba (subtrain y subtest)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.01, random_state=42)

In [392]:
# # Escalar la columna "surface" en el rango [0, 1] en TRAIN
# X_train['surface_scaled'] = scaler.fit_transform(X[['surface']])

# # Escalar la columna "surface" en el rango [0, 1] en TEST
# X_test['surface_scaled'] = scaler.fit_transform(X[['surface']])

In [393]:
print('X_train_shape: ', X_train.shape)
print('X_test_shape: ', X_test.shape)
print('Y_train_shape: ', Y_train.shape)
print('Y_test_shape: ', Y_test.shape)

X_train_shape:  (83824, 8)
X_test_shape:  (847, 8)
Y_train_shape:  (83824,)
Y_test_shape:  (847,)

In [394]:
# Crear y entrenar el modelo Random Forest
rf_regressor = RandomForestRegressor(random_state=42, max_depth=4)
rf_regressor.fit(X_train, Y_train)

RandomForestRegressor(max_depth=4, random_state=42)

In [395]:
predictions_rf_train = rf_regressor.predict(X_train)
predictions_rf_test = rf_regressor.predict(X_test)

In [396]:
mae_train = mean_absolute_error(Y_train, predictions_rf_train)
mae_test = mean_absolute_error(Y_test, predictions_rf_test)
print(mae_train)
print(mae_test)

260.9815089613064
257.12555544956496

In [397]:
# Obtener la importancia de las características
feature_importance = rf_regressor.feature_importances_

# Obtener los nombres de las características (columnas)
feature_names = X.columns

2 - ADABOOST

In [399]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_absolute_error

In [400]:
# Definir las características (X) y la columna objetivo (y)
X = df.drop(columns=['price']) # Todas las columnas excepto 'Price_euros'
Y = df['price']
# IMPORTANTE DIVIDIR ENTRE TRAIN Y TEST LUEGO ESCALAR

In [401]:
# Separar los datos en conjuntos de entrenamiento y prueba (subtrain y subtest)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.01, random_state=42)

In [402]:
# Entrenar el modelo ADABOOST
model2 = AdaBoostRegressor(n_estimators=100, learning_rate = 0.2, loss="exponential", random_state=42)
model2.fit(X_train, Y_train)

AdaBoostRegressor(learning_rate=0.2, loss='exponential', n_estimators=100,
                  random_state=42)

In [403]:
# Realizar predicciones
y_pred2 = model2.predict(X_test)

In [404]:
mae = mean_absolute_error(Y_test, y_pred2)
mae

316.0588447545309

3 - XGBOOST

In [405]:
import xgboost as xgb

In [406]:
# Definir las características (X) y la columna objetivo (y)
X = df.drop(columns=['price']) # Todas las columnas excepto 'Price_euros'
Y = df['price']
# IMPORTANTE DIVIDIR ENTRE TRAIN Y TEST LUEGO ESCALAR

In [407]:
# Separar los datos en conjuntos de entrenamiento y prueba (subtrain y subtest)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.01, random_state=42)

In [409]:
params = {
    'n_estimators': 300,
    'learning_rate': 0.8,
    'max_depth': 3,
    'subsample': 0.8,
    'colsample_bytree': 0.8,
    'objective': 'reg:squarederror', 
    "gamma": 8000
}

# Crear el modelo XGBoost con los parámetros especificados
xgb1 = xgb.XGBRegressor(**params)

In [410]:
# Entrenar el modelo con el conjunto de entrenamiento
xgb1.fit(X_train, Y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=0.8, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=8000, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=0.8, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=3, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=300, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [411]:
# Realizar predicciones en el conjunto de prueba
y_pred3 = xgb1.predict(X_test)

In [412]:
mae = mean_absolute_error(Y_test, y_pred3)
mae

255.14709155590504

GUARDAR MODELO - PICKLE

In [413]:
import pickle

# Supongamos que tienes un modelo llamado "modelo" que deseas guardar
rf_regressor = ...  # Reemplaza esto con tu modelo

# Nombre del archivo en el que deseas guardar el modelo
nombre_archivo = 'rf_regressor.pkl'

# Abre el archivo en modo binario para escribir el modelo
with open(nombre_archivo, 'wb') as archivo:
    pickle.dump(rf_regressor, archivo)

print(f"El modelo ha sido guardado en {nombre_archivo}")

El modelo ha sido guardado en rf_regressor.pkl